
.image-carousel {
    height: 100%;
    margin-top: -12vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-carousel img {
    width: 100%;
}
.image-carousel .controls {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
